<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cyberuRL" value="http://demoapi.cyberhsm.vn/api/xml/sign/invoice-78"/>
		<add key="softDreamUrl" value="http://demosign.easyca.vn:8080/api/"/>
		<add key="softDreamUser" value="demo_easysign"/>
		<add key="softDreamPass" value="demo_easysign"/>
	</appSettings>
</configuration>